@if (auth.loading()) {
    <div class="app-loading">
        <mat-spinner diameter="40"></mat-spinner>
    </div>
} @else {
    <mat-toolbar>
        <div class="header-inner">
            <a class="toolbar-title" routerLink="/">🏷️ {{ i18n.strings().appName }}</a>
            <span class="spacer"></span>
            @if (auth.user()?.is_admin) {
                <button
                    mat-icon-button
                    routerLink="/admin"
                    [attr.aria-label]="i18n.strings().adminUsers"
                    [title]="i18n.strings().adminUsers"
                >
                    <mat-icon>admin_panel_settings</mat-icon>
                </button>
            }
            <button
                class="topbar-icon-btn"
                type="button"
                [attr.aria-label]="i18n.strings().toggleTheme"
                [title]="i18n.strings().toggleTheme"
                (click)="toggleTheme()"
            >
                {{ themeIcon() }}
            </button>
            @if (auth.user(); as user) {
                <button
                    class="topbar-avatar"
                    [matMenuTriggerFor]="userMenu"
                    [attr.aria-label]="user.name"
                >
                    @if (user.picture_url) {
                        <img
                            [src]="user.picture_url"
                            [alt]="user.name"
                            class="avatar-img"
                            referrerpolicy="no-referrer"
                        />
                    } @else {
                        <span class="avatar-initial">{{ user.name.charAt(0) }}</span>
                    }
                </button>
                <mat-menu #userMenu="matMenu">
                    <div class="menu-user-info" mat-menu-item disabled>
                        <strong>{{ user.name }}</strong
                        ><br />
                        <small>{{ user.email }}</small>
                    </div>
                    <button mat-menu-item (click)="auth.logout()">
                        <mat-icon>logout</mat-icon>
                        <span>{{ i18n.strings().logout }}</span>
                    </button>
                </mat-menu>
            }
        </div>
    </mat-toolbar>

    <main>
        <router-outlet />
    </main>
}
